.card {
    border-bottom-left-radius: 50px 20px;
    border-top-right-radius: 50px 20px;
    border: solid;
    box-shadow: 5px 10px #888888;
}

.card-title {
    font-size: 26px;
    font-family: 'Roboto Mono', monospace;
}

.card-text {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.fa-trash-o {
    font-size: 40px !important;
}